body {
    background-image: url("../pic/menu/2.jpg");
    background-color: black;
    background-size: 100%;
    color: azure;
    direction: rtl;
    background-repeat: repeat-y;
    /*font-size:25px;*/  
}
.logo {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:1.5%;
    border-radius:25px;
    padding:20px;
    width:300px;
    height:100px;
}
.links {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 5%;
    order:5;
}

ul {
    height: 15%;
    list-style-type: none;
    top: 0;
    width: 100%;
}

.menu a:hover {
    color:red;
    font-size: 30px;
    font-weight: bold;
}

.menu li {
    height: 70px;
    width: 19%;
}

li {
    padding-top:2%;
    margin-bottom: 1%;
    list-style: none;
    display: inline-block;
    width: calc(100%/3);
    /*height: 120px;*/
    text-align: center;
    color: white;
}
.menu a {
    text-align: center;
    font-size: 25px;
    color:white;
    text-decoration: none;
    font-weight: bold;
}
 .logo{
    width: 20%;
    height: auto;
    transition: width 2s, height 2s, transform 2s;
}
 .logo:hover {
    width: 10%;
    height: 20%;
    transform: rotate(360deg);
}
footer {
    font-size:25px;
    font-weight: bold;
    color: red;
    text-align: center;
    position:relative;
    bottom:0px;
    clear:both;
}
.orders {
    position: fixed;
    left: 4%;
    top: 70%;
    width: 10%;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {

    li{
        font-size:20px;
    }
    .logo{
        width:30%;
    }
    .orders {
       height:15%; width:15%;left:0;
    }
    #p{
        font-size:30px;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        width: 70%;
        text-align: center;
    }
    fieldset {
        font-size: 20px;
    }
    .links {
        font-size:10%;
        text-align: center;
    }
}
@media only screen and (min-width: 992px) {

    .logo {
        width:20%;
    }
}
@media only screen and (max-width: 1200px){

}