body {
}

h1, h2 {
    color: red;
    margin-right: 7%;
    font-weight: bold;
}

input, label {
    font-size: 20px;
    margin-right: 7%;
}

textarea {
    margin-right: 7%;
}

img {
    width: 45%;
    margin-right: 40%;
    margin-top: 10%;
    padding: 5px;
    border-radius: 15px;
}

aside {
    float: left;
    width: 50%;
}

    aside:hover {
        color: burlywood;
        font-size: 30px;
        font-weight: bold;
        opacity: 0.8;
    }

fieldset {
    width: 42%;
    margin-top: 1%;
    margin-right: 5%;
}

legend {
    color: red;
    font-size: 25px;
}

.n {
    color: azure;
}

a {
    color: azure;
    font-size: 20px;
    margin-right: 5%;
    text-decoration-line: none;
}

@media only screen and (max-width: 600px) {


    h1 {
        font-size: 20px;
    }

    legend, h2 {
        font-size: 22px;
    }

    legend {
        color: saddlebrown
    }

    .ordimg {
        left: 0;
    }

    .ord {
        width: 35%;
    }

    @media only screen and (min-width:600px) {
        h1 {
            font-size: 20px;
        }

        legend, h2 {
            font-size: 22px;
        }
        .ordimg {
            left: 0;
        }
        .ord {
            width: 35%;
        }
        .logo{width:15px}
    }
}
